< !DOCTYPE html >
    < html xmlns: th = "http://www.thymeleaf.org" >
    <body >
    <script type = "text/javascript" th:fragment = "javascript" >

    $(document).ready(function(){  
        var i=1; 
      
               
         //    $('#dynamic_field').append('<tr id="row'+i+'"><td><input type="text" name="name[]" placeholder="Enter your Name" class="form-control name_list" /></td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr>');
             
        
  	   $('#add').click(function() {
           i++;
           $('#dynamic_field').append('<tr id="row' + i + '"><td><input type="text" name="diagnostico[]" placeholder="Enter your Name" class="form-control name_list" /></td>
        		   <td><input type="text" name="tratamiento[]" placeholder="Enter your Name" class="form-control name_list" /></td>
           <td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove">X</button></td></tr>');
       });
       $(document).on('click', '.btn_remove', function() {
           var button_id = $(this).attr("id");
           $('#row' + button_id + '').remove();
       });
  		
  		
       
        
        
    
        
      
        
        
   });  

</script> 
</body>
 </html>